/* Error: There is no module with the namespace "color".
 *   ,
 * 9 |     background:color.$border;
 *   |                ^^^^^^^^^^^^^
 *   '
 *   scss\components.scss 9:16  @use
 *   scss\navigation2.scss 3:1  @use
 *   scss\style.scss 7:1        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "color".\a   \2577 \a 9 \2502      background:color.$border;\d\a   \2502                 ^^^^^^^^^^^^^\a   \2575 \a   scss\\components.scss 9:16  @use\a   scss\\navigation2.scss 3:1  @use\a   scss\\style.scss 7:1        root stylesheet';
}
