html, body {
  background: #888;
  font-size: 62.5%;
}

.pikachu {
  width: 32rem;
  height: 46rem;
  position: relative;
  margin: 10vh auto;
}
.pikachu div {
  position: absolute;
}

.pik-body {
  width: 18.5rem;
  height: 34rem;
  bottom: 0;
  z-index: 300;
}
.pik-body .head {
  background: #fed823;
  width: 16rem;
  height: 16rem;
  right: 0.7rem;
  border: 0.3rem solid #0a0a0a;
  border-top-left-radius: 13rem 12rem;
  border-top-right-radius: 15rem 10rem;
  border-bottom-left-radius: 8rem 8rem;
  border-bottom-right-radius: 2.5rem 12rem;
  border-bottom: none;
}
.pik-body .head::before {
  position: absolute;
  background: #fed823;
  display: block;
  content: "";
  width: 3rem;
  height: 7rem;
  border-left: 0.4rem solid #0a0a0a;
  left: -1.4rem;
  top: 8.1rem;
  border-top-left-radius: 150% 9rem;
  border-bottom-left-radius: 150% 9rem;
  transform: rotateZ(-28deg);
}
.pik-body .eye-left {
  background: #0a0a0a;
  width: 2rem;
  height: 3.2rem;
  border-radius: 50%;
  top: 5rem;
  left: 1rem;
  transform: rotateZ(10deg);
}
.pik-body .eye-left::before {
  position: absolute;
  content: "";
  display: block;
  background: white;
  width: 0.8rem;
  height: 1.3rem;
  border-radius: 50%;
  top: 0.5rem;
  left: 1rem;
  transform: rotateZ(8deg);
}
.pik-body .eye-left::after {
  position: absolute;
  content: "";
  display: block;
  background: #0a0a0a;
  width: 2.4rem;
  height: 0.3rem;
  transform: rotateZ(28deg);
}
.pik-body .eye-right {
  background: #0a0a0a;
  width: 3rem;
  height: 3.3rem;
  border-radius: 50%;
  top: 5.7rem;
  right: 3.6rem;
}
.pik-body .eye-right::before {
  position: absolute;
  content: "";
  display: block;
  background: white;
  width: 1rem;
  height: 1.2rem;
  border-radius: 50%;
  left: 0.8rem;
  top: 0.5rem;
}
.pik-body .eye-right::after {
  position: absolute;
  content: "";
  display: block;
  background: #0a0a0a;
  right: 0.3rem;
  width: 2.8rem;
  height: 0.3rem;
  transform: rotateZ(-28deg);
}
.pik-body .nose {
  background: #0a0a0a;
  width: 1rem;
  height: 1.1rem;
  top: 7.5rem;
  left: 4.5rem;
  border-radius: 0% 50% 30% 50%;
  transform: rotateZ(-36deg);
}
.pik-body .mouth {
  width: 2.5rem;
  height: 2rem;
  border-radius: 0% 0% 100% 0%;
  border-bottom: 0.4rem solid #0a0a0a;
  border-right: 0.3rem solid #0a0a0a;
  top: 9rem;
  left: 4rem;
  transform: rotateZ(55deg);
}
.pik-body .mouth::before {
  position: absolute;
  content: "";
  display: block;
  width: 1.7rem;
  height: 1.5rem;
  border-radius: 0% 0% 90% 0%;
  border-bottom: 4px solid #0a0a0a;
  border-right: 0.3rem solid #0a0a0a;
  top: 2.2rem;
  right: 2rem;
  transform: rotateZ(-10deg);
}
.pik-body .cheek-left {
  background: #e94e24;
  width: 2.3rem;
  height: 4rem;
  border-radius: 50%;
  left: -1.8rem;
  top: 8rem;
  border-right: 0.3rem solid #0a0a0a;
  border-top: 0.3rem solid #0a0a0a;
  border-bottom: 0.3rem solid #0a0a0a;
}
.pik-body .cheek-right {
  background: #e94e24;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  top: 9rem;
  right: 1.8rem;
  border: 0.3rem solid #0a0a0a;
}

.ear-left {
  background: #fed823;
  width: 3.6rem;
  height: 16rem;
  left: 3rem;
  border-bottom-left-radius: 8rem 70%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  transform: rotateZ(25deg);
  transform-origin: 100% 100%;
  border-left: 0.3rem solid #0a0a0a;
  border-right: 0.3rem solid #0a0a0a;
  border-top: 0.1rem solid #0a0a0a;
  overflow: hidden;
  z-index: 100;
}
.ear-left::before {
  position: absolute;
  content: "";
  display: block;
  left: 0.4rem;
  width: 3.8rem;
  height: 5rem;
  background: #231815;
  transform: rotateZ(12deg);
  border-top-right-radius: 250%;
  border-bottom-left-radius: 1.5rem;
  border-bottom: 0.3rem solid #0a0a0a;
}

.ear-right {
  background: #231815;
  top: 4.1rem;
  right: 16rem;
  width: 3rem;
  height: 14rem;
  transform: rotateZ(80deg);
  transform-origin: 100% 100%;
  border-bottom-left-radius: 190%;
  border-top-left-radius: 190%;
  border-top-right-radius: 150%;
  border: 0.3rem solid #0a0a0a;
  border-bottom: none;
  z-index: 500;
  overflow: hidden;
}
.ear-right::before {
  position: absolute;
  content: "";
  background: #fed823;
  width: 4rem;
  height: 11rem;
  bottom: 0;
  border-radius: 0 80% 0 0;
  border-top: 0.3rem solid #0a0a0a;
}

/*# sourceMappingURL=style.css.map */
