$background: linear-gradient(24.6deg, black 50%, white 50%);
$text: rgba(255, 38, 0, 0.577);
$joycon--left: white;
$joycon--left-border:black;
$joycon--right:black;
$joycon--right-border:white;
$stick--left:black;
$stick--right:white;
$stick:white;